html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#weatherContainer {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	align-items: center;
}
#weatherContainer p {
	margin: 0;
}
#locDisp {
	font-size: 1.5rem;
}
#tempDisp {
	display: flex;
	gap: 1rem;
	font-size: 2.4rem;
	align-items: center;
}

#hourlyContainer,
#threedayContainer {
	background-color: rgba(179, 179, 179, 0.3);
	border-radius: 10px;
	padding: 2rem;
	display: grid;
	grid-auto-flow: column;
	text-align: center;
	gap: 1rem;
	margin-top: 3rem;
	min-width: 30%;
}
#threedayContainer {
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}
